

/* top-row is the row of clickable cells to drop pieces into a column */

.BoardDropRow td {
  background-color:rgb(255, 244, 179);
  border: dashed 1px lightgray;
}

.BoardDropRow td:hover {
  background-color: gold;
}