/* .GameDetails-gamePlayers {
  margin-top: 5px;
  margin-bottom: 5px;
}

.GameDetails-gamePlayers-title, .GameDetails-gameDetails-title {
  vertical-align: middle;
}

.GameDetails-gamePlayers-button, .GameDetails-gameDetails-button {
  vertical-align: middle;
  margin-left: 10px;
} */