/* .GameCreateForm {
  border-width: 2px;
  border-style: solid;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;
}

.GameCreateForm-title {
  font-size: 1.1em;
  margin-bottom: 8px;
}

.GameCreateForm-label {
  width: 100px;
  margin-right: 5px;
  display: inline-block;
}

.GameCreateForm-input {
  width: 50px;
}

.GameCreateForm-button {
  margin-top: 8px;
  margin-bottom: 2px;
  font-size: 0.9em;
} */