/* .GameList {
  margin-top: 5px;
  margin-bottom: 5px;
}

.GameList-list {
  border-width: 2px;
  border-style: solid;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px;
}

.GameList-table {
  border-collapse: collapse;
}

.GameList-table td {
  padding: 2px 8px;
}

.GameList-title {
  font-size: 1.1em;
  margin-bottom: 3px;
}

.GameList-subTitle {
  font-size: 0.8em;
  margin-bottom: 8px;
} */