.PlayerCreateForm-label {
  width: 120px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: middle;
}

.PlayerCreateForm-inputColor {
  width: 50px;
  block-size: 21px;
}

.PlayerCreateForm-inputCheckBox {
  vertical-align: middle;
}